extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='product') Product:
      select#product.form-control(type='select' placeholder='Select product' name='product' required='true')
        - product_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for product in product_list
          if productInstance
            option(value=product._id selected=(productInstance.product.toString()==product._id.toString() ? 'selected' : false)) #{product.name}
          else
            option(value=product._id) #{product.name}

  

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg