extends layout

block content
  h1 Product: #{product.name}

  a(href=product.url+'/update')
    button.btn.btn-primary() Update
  a(href=product.url+'/delete', title='Delete this product and all its instances')
    button.btn.btn-danger() Cascade Delete

  p #[strong Brand:]
    if product.brand != null
      a(href=product.brand.url) #{product.brand.name}
  p #[strong Description:] #{product.description}
  p #[strong Stock:] #{product_count}
  p #[strong Status:] #{product.status}
  p #[strong Tags:]
    each tag in product.tag
      a(href=tag.url) #{tag.name}
  
  